<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
    <link href="/css/mediaQueryStyle.css" rel="stylesheet">
</head>
<body>
    <!-- <header class="main-header">
        <div class="header superior ">
            <img class="logo" src="/images/logo-mercado-liebre.svg" >
                <div class="barra-busqueda"><input class="busqueda" type="search" name="" id=""><i
                        class="fa-solid fa-magnifying-glass"></i></div>
                <h2 class="copy-header">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    Compra en cuotas y sin tarjeta de credito</i>
                </h2>
            </div>
        </div>
        <div class="header inferior">
            <nav class="barra-izquierda">
                <ul type="none">
                    <li> <a href= ""> Ofertas</a></li>
                    <li><a href=" "> Tiendas Oficiales</a></li>
                    <Li><a href=" "> Vender</a></Li>
                    <li><a href=" "> Ayuda</a></li>
                </ul>
            </nav>
            <nav class="barra-derecha">
                <ul type="none">
                    <li><a href="/register"> Crea tu cuenta <i class="fa-regular fa-id-card"></i> </a></li>
                    <li><a href="/login">Ingresa <i class="fa-solid fa-right-to-bracket"></i> </a></li>
                    <Li><a href=" "> compras <i class="fa-solid fa-basket-shopping"></i> </a></Li>
                </ul>
            </nav>
            <div class="burger"></div>
            <a href=" " class="burger-menu">
                <i class='fa-solid fa-bars'></i>
            </a>
        </div>
        </div>
    </header> -->
    <header>
        <div class="logo-container">
            <div class="logo-bar-container">
                <div class="logo">
                    <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="logo"></a>

                </div>
                <div class="search-button-container">
                    <div class="search-container">
                        <input type="text" placeholder="Buscar productos, marcas..">
                        <button><i class="fas fa-search"></i></button>
                    </div>

                </div>

            </div>
            <div class="card-container">
                <h2 class="card-title"> <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito.</h2>

            </div>

        </div>
        <div class="menu-container"> 
            <ul>
                <li>Ofertas</li>
                <li>Tiendas oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta<i class="fas fa-id-card"></i></a></li>
                <li><a href="/login">Ingresa<i class="fas fa-sign-in-alt"></i></a></li>
                <li>Mis compras <i class="fas fa-shopping-basket"></i></a></li>


            </ul>

        </div>
        <div class="burger-container">
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>

        </div>
    </header>


    <div class="banner"><img class="banner" src="/images/img-home-banner.jpg" width="100%"
            alt="No se puede mostrar imagen"></div>

    <main>
    
        <section class="ultima-visita">
            <h3>Basado en tu ultima visita</h3>
            <div class="todos-los-productos">
                <article>
                    <img class="productos" src="/images/img-cafetera-moulinex.jpg" width="360px" alt=" Cafetera">
                    <div class="detalle-de-producto">
                        <i class="fa-solid fa-truck"></i>
                        <P class="precio"> $6770</P>
                        <P class="descuento">40% off</P>
                        <div class="descripcion-comteiner">
                            <h4 class="detalle">Cafetera moulinex</h4>
                        </div>
                    </div>
                </article>
    
                <article>
                    <img class="productos" src="/images/img-macbook-pro-2019.jpg" width="360px" alt="McPro">
    
                    <div class="detalle-de-producto">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio"> $230.000 </p>
                        <p class="descuento"> 20% off</p>
    
                        <div class="descripcion-comteiner">
                            <h4> MacBook Pro 2019 </h4>
                        </div>
                    </div>
                </article>
    
                <article>
                    <img class="productos" src="/images/img-samsung-galaxy-s10.jpg" width="360px" alt="Samsung">
    
                    <div class="detalle-de-producto">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% off</p>
                        <div class="descripcion-comteiner">
                            <h4>Samsung Galaxy S10</h4>
                        </div>
                    </div>
    
                </article>
    
                <article>
                    <img class="productos" src="/images/img-tv-samsung-smart.jpg" width="360px" alt="">
    
                    <div class="detalle-de-producto">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio"> $23.200 </p>
                        <p class="descuento">5% off</p>
                        <div class="descripcion-comteiner">
                            <h4>SmartTv Samsung 43" </h4>
                        </div>
                    </div>
                </article>
            </div>
    
        </section>
    
    
        <section class="ofertas">
            <h3>Seccion de ofertas</h3>
            <div class="todos-los-productos">
                
            <article>
                    <img class="productos" src="/images/img-cafetera-moulinex.jpg" width="360px" alt="">
    
                    <div class="detalle-de-producto">
                        <i class="fa-solid fa-truck"></i>
                        <P class="precio"> $6770</P>
                        <P class="descuento">40% off</P>
                        <div class="descripcion-comteiner">
                        <h4>Cafetera moulinex</h4>
                        </div>
                    </div>
            </article>
    
            <article>
                <img class="productos" src="/images/img-macbook-pro-2019.jpg" width="360px" alt="">
    
                <div class="detalle-de-producto">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precio"> $230.000 </p>
                    <p class="descuento"> 20% off</p>
                    <div class="descripcion-comteiner">
                        <h4> MacBook Pro 2019 </h4>
                    </div>
                </div>
            </article>
    
    
            <article>
                <img class="productos" src="/images/img-samsung-galaxy-s10.jpg" width="360px" alt="">
    
                <div class="detalle-de-producto">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% off</p>
                    <div class="descripcion-comteiner">
                        <h4>Samsung Galaxy S10</h4>
                    </div>
                </div>
            </article>
    
    
    
            <article>
                <img class="productos" src="/images/img-tv-samsung-smart.jpg" width="360px" alt="">
    
                <div class="detalle-de-producto">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precio"> $23.200 </p>
                    <p class="descuento">5% off</p>
                    <div class="descripcion-comteiner">
                        <h4>SmartTv Samsung 43" </h4>
                    </div>
                </div>
            </article>

        </div>
    
        </section>
    </main>
    </body>
<!-- 
<body>
  
    <header>
        <div class="logo-container">
            <div class="logo-bar-container">
                <div class="logo">
                    <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="logo"></a>

                </div>
                <div class="search-button-container">
                    <div class="search-container">
                        <input type="text" placeholder="Buscar productos, marcas..">
                        <button><i class="fas fa-search"></i></button>
                    </div>

                </div>

            </div>
            <div class="card-container">
                <h2 class="card-title"> <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito.</h2>

            </div>

        </div>
        <div class="menu-container"> 
            <ul>
                <li>Ofertas</li>
                <li>Tiendas oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta <i class="fas fa-id-card"></i></a></li>
                <li><a href="/login">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                <li>Mis compras <i class="fas fa-shopping-basket"></i></a></li>


            </ul>

        </div>
        <div class="burger-container">
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>

        </div>
    </header>


    <section class="banner"><img src="/images/img-home-banner.jpg" width="100%"
            alt="No se puede mostrar imagen"></section>

    <main>
    <h3>Basado en tu ultima visita</h3>
    <section class="ultima-visita">
        <div class="todos-los-productos">
            <article>
                <img class="productos" src="/images/img-cafetera-moulinex.jpg" width="360px" alt=" Cafetera">
                <div class="detalle-de-producto">
                    <i class="fa-solid fa-truck"></i>
                    <P class="precio"> $6770</P>
                    <P class="descuento">40% off</P>
                    <div class="descripcion-comteiner">
                        <h4 class="detalle">Cafetera moulinex</h4>
                    </div>
    
            </article>
    
            <article>
                <img class="productos" src="/images/img-macbook-pro-2019.jpg" width="360px" alt="McPro">
    
                <div class="detalle-de-producto">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precio"> $230.000</p>
                    <p class="descuento">20% off</p>
                    <div class="descripcion-comteiner">
                        <h4> MacBook Pro 2019 </h4>
                    </div>
    
                </div>
            </article>
    
            <article>
                <img class="productos" src="/images/img-samsung-galaxy-s10.jpg" width="360px" alt="Samsung">
    
                <div class="detalle-de-producto">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% off</p>
                    <div class="descripcion-comteiner">
                        <h4>Samsung Galaxy S10</h4>
                    </div>
    
                </div>
    
            </article>
    
            <article>
                <img class="productos" src="/images/img-tv-samsung-smart.jpg" width="360px" alt="">
    
                <div class="detalle-de-producto">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precio"> $23.200 </p>
                    <p class="descuento">5% off</p>
                    <div class="descripcion-comteiner">
                        <h4>SmartTv Samsung 43"</h4>
                    </div>
    
    
                </div>
            </article>
        </div>
    
    </section>
    
    <h3>Seccion de ofertas</h3>
    <section class="ofertas">
    
    
        <div class="todos-los-productos">
    
            <article>
                <img class="productos" src="/images/img-cafetera-moulinex.jpg" width="360px" alt="">
    
                <div class="detalle-de-producto">
                    <i class="fa-solid fa-truck"></i>
                    <P class="precio"> $6770</P>
                    <P class="descuento">40% off</P>
    
                    <div class="descripcion-comteiner">
                        <h4>Cafetera moulinex</h4>
                    </div>
                </div>
            </article>
    
            <article>
                <img class="productos" src="/images/img-macbook-pro-2019.jpg" width="360px" alt="">
    
                <div class="detalle-de-producto">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precio"> $230.000 </p>
                    <p class="descuento"> 20% off</p>
                    <div class="descripcion-comteiner">
                        <h4> MacBook Pro 2019 </h4>
                    </div>
    
                </div>
            </article>
    
    
            <article>
                <img class="productos" src="/images/img-samsung-galaxy-s10.jpg" width="360px" alt="">
    
                <div class="detalle-de-producto">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% off</p>
                    <div class="descripcion-comteiner">
                        <h4>Samsung Galaxy S10</h4>
                    </div>
                </div>
            </article>
    
    
    
            <article>
                <img class="productos" src="/images/img-tv-samsung-smart.jpg" width="360px" alt="">
    
                <div class="detalle-de-producto">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precio"> $23.200 </p>
                    <p class="descuento">5% off</p>
                    <div class="descripcion-comteiner">
                        <h4>SmartTv Samsung 43" </h4>
                    </div>
                </div>
            </article>
    
        </div>
    
        </section>
    </main>
    </body> -->

<footer> 

    <section class="final">
        <div class="contenedor-final"> 
             <div class="iconos"><i class="fa-solid fa-credit-card" style="font-size:2em"></i> </div>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>

        </div>
       
        <div class="contenedor-final"> 
        <div class="iconos"><i class="fa-solid fa-gift" style="font-size:2em"></i></div>
        <h4>Envío gratis desde $ 2.500</h4>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
       </div>

        
        <div class="contenedor-final"> 
        <div class="iconos"> <i class="fa-solid fa-user-shield" style="font-size:2em"></i> </div>
        <h4> Seguridad, de principio a fin </h4>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        </div>

    </section>
    <p class="derechos">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

</footer>

</html>