<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mercado Liebre</title>
        <link href="https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:ital,wght@1,200&display=swap"
            rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/css/style.css">
    </head>
<body>
    <header class="main-header">
        <div class="header superior ">
            <div class="logo"><img src="/images/logo-mercado-liebre.svg" class="logo">

                <div class="barra-busqueda"><input class="busqueda" type="search" name="" id=""><i
                        class="fa-solid fa-magnifying-glass"></i></div>
                <h2 class="copy-header">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    Compra en cuotas y sin tarjeta de credito</i>
                </h2>
            </div>
        </div>

        <div class="header inferior">
            <nav class="barra-izquierda">
                <ul type="none">
                    <li> <a href= ""> Ofertas</a></li>
                    <li><a href=" "> Tiendas Oficiales</a></li>
                    <Li><a href=" "> Vender</a></Li>
                    <li><a href=" "> Ayuda</a></li>
                </ul>
            </nav>
            <nav class="barra-derecha">
                <ul type="none">
                    <li><a href="/register"> Crea tu cuenta <i class="fa-regular fa-id-card"></i> </a></li>
                    <li><a href="/login ">Ingresa <i class="fa-solid fa-right-to-bracket"></i> </a></li>
                    <Li><a href=" "> compras <i class="fa-solid fa-basket-shopping"></i> </a></Li>
                </ul>
            </nav>

            <div class="burger"></div>
            <a href=" " class="burger-menu">
                <i class='fa-solid fa-bars'></i>
            </a>
        </div>
        </div>

    </header>

    <div class="formulario">
        <form action=" " method=" ">
            <p><label for="name"> </label>
                <input type="text" id="name" placeholder=" Nombre y apellido">
            </p>
            <p> <label for="email"> </label>
                <input type="text" id="email" placeholder="E-mail">
            </p>
            <p><label class= "titulo" for="fecha-de-nacimiento">Fecha de nacimiento: </label>
                <input type="date" name="fecha-de-nacimiento" id="fecha-de-nacimiento" placeholder="Ej: 2005/08/13">
            </p>
            <p><label for="domicilio"> </label>
                <input type="text" id="domicilio" placeholder="Domicilio">
            </p>
            <p><label class="titulo" for="perfil"> Perfil de usuario</label></p>
            <p><input type="radio" name="perfil" value="Comprar">
                <label for="Comprar">Comprador</label>
                <input type="radio" name="perfil" value="vender">
                <label for="Vender">Vendedor</label>
            </p>
            <p><label class= "titulo" for="Categorias"> Intereses:</label></p>
            <p><input type="checkbox" name="categorias" id="vida sana">
                <label for="categorias"> Electro </label>
            </p>
    
            <p> <input type="checkbox" name="categorias" id="electro">
                <label for="categorias"> Moda</label>
            </p>
            <p> <input type="checkbox" name="categorias" id="moda">
                <label for="categorias"> Hogar</label>
            </p>
            <p><input type="checkbox" name="categorias" id="hogar">
                <label for="categorias"> Juguetería </label>
            </p>
            <p><input type="checkbox" name="categorias" id="jugueteria">
                <label for="categorias"> Vida sana</label>
            </p>
    
            <p><label class="titulo" for="foto">Selecciona una foto de perfil : </p></label>
            <p><input type="file" name="foto" accept=".jpg">
                <label for="password"></label>
            </p>
            <p><input type="password" name="password" placeholder="Contraseña" minlength="6" maxlength="10" required>
                <label for="password"></label>
            </p>
            <p>
                <input type="password" name="password" placeholder="Confirmar contraseña" minlength="6" maxlength="10">
            </p>
            <p><button type="submit">Enviar</button>
                <button type="reset"> Borrar</button></p>
    </div>
    
    
    
    
    
    
    </form>
    </div>

   
    
</body>
</html>